*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background: url(NPg5MeK923A.jpg) center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-style: 100px;
    color: rgb(255, 255, 255);
}